<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Douglas - {{ title }}</title>
    <meta name="description" content="{{ description }}"/>
    <!--  Essential META Tags -->

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ social_description }}">
    <meta property="og:image" content="{{ social_cover }}">
    <meta property="og:url" content="{{ url }}">
    <meta name="twitter:card" content="summary_large_image">

    <!--  Non-Essential, But Recommended -->

    <meta property="og:site_name" content="Douglas JC">
    <meta name="twitter:image:alt" content="{{ social_cover_alt }}">


    <!--  Non-Essential, But Required for Analytics
    <meta property="fb:app_id" content="your_app_id" />
    <meta name="twitter:site" content="@website-username">
    -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N8L3HGEZFW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-N8L3HGEZFW');
    </script>


	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="warning">
        <img width="32px" height="32px" src="{{ icons.warning }}">
        <h4>
            !Este sitio está en construcción!... pero igual puedes pasar y ver :D
        </h4>
    </div>
        
    <header id="header">
        <h1 class="logo">Douglas JC</h1>

        <nav id="nav-menu">
            <ul>
                {% for p in collections.forMainNav %}
                    <li>
                        {% if page.url !== p.url %}
                            <a href="{{ p.url }}">{{ p.data.title }}</a>
                        {% else %}
                            {{ p.data.title }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer id="footer">
        <p class="t-center">&copy; 2021</p>
    </footer>
</body>
</html>