/* general */
html {
  font-size: 10px;
  font-family: "Roboto Slab", sans-serif;

  
}

/* the title font family
font-family: "Bree Serif", Serif; */

#main-hero-head {
  background-image: url("/texture_2.jpg");
  isolation: isolate;
  
}

/* header */
#header, #hero {
  
  position: relative;
}

#hero {
  position: relative;
}

#header::after, #hero::after {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  inset: 0;
  
  z-index: -1;
  mix-blend-mode: hard-light;
  

}






/* hero */
#hero {
  display: flex;
  justify-content: center;  

  padding-top: 8rem;
  padding-bottom: 6rem;
  color: #f3f3f3;
}

#hero .date {
  margin-bottom: 1rem;

  font-size: 1.5rem;

  font-weight: bold;
}

#hero .title {
  margin-bottom: 2rem;

  font-size: 4rem;
  font-weight: bold;
  mix-blend-mode: none;
}

#hero .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 2rem;
}

#hero .tags .item {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* articles */
#articles-section {
  display: flex;
  justify-content: center;

  padding-bottom: 20rem;
}

#articles-section  .header > .title {
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-size: 3rem;
  text-align: center;
}

#articles-section .item {
  margin-bottom: 2rem;
  padding-bottom: 6rem;

  border-bottom: 0.1rem solid var(--main-color);
  
}

#articles-section .item .date {
  font-size: 1.5rem;
}

#articles-section .item .title {
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.container {
  width: 80%;
}

@media screen and (min-width: 700px) and (max-width: 9999px) {
  #hero {
    padding-top: 10rem;
    padding-bottom: 7rem;
  }

  #hero .title {
    font-size: 8rem;
  }

  #articles-section .container {
    margin-top: 5rem;
    display: flex;
  }

  #articles-section .header{
    min-width: 230px;
  }

  #articles-section  .header > .title {
    margin-top: 0;
    font-size: 3rem;
    text-align: left;
  }

  .container {
    width: 70%;
  }
}