:root {
  --main-color: hsl(271deg 100% 36%);
}

/* general */
html {
  font-size: 10px;
  font-family: "Roboto Slab", sans-serif;

  
}

/* the title font family
font-family: "Bree Serif", Serif; */

/* header */
#header {
  padding: 2rem;
  background-color: var(--main-color);
}
/* hero */
#hero {
  padding: 2rem;
  
  color: #f3f3f3;
  background-color: var(--main-color);
}

/* articles */

