.page {
  background: hsl(0, 0%, 5%);
  color: var(--text-color);
}

/* --- overwriting navbar --- */

.navbar {
  z-index: 10;
  position: sticky;
  top: 0;

  background: linear-gradient(180deg, hsl(0, 0%, 5%) 95%, transparent 100%);
}

/* --- blog-post --- */

.blog-post {

  padding: 2rem;
  font-size: var(--text-size);
}

@media ((min-width:  500px) and (max-width:  699px) ) {
  .blog-post {
    padding: 5rem 10vw;
  }  
}

@media (min-width:  700px) {
  .blog-post {
    padding: 5rem 20vw;
  }  
}

.blog-post p,
.blog-post ul,
.blog-post ol {
  margin-bottom: 1rem;
}

.blog-post .title {
  font-family: "Bree Serif", Serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: calc(4rem - .4rem);

  margin-bottom: 3rem;
}

.blog-post h2,
.blog-post h3,
.blog-post h4 {
  margin-top: 3rem;
  margin-bottom: 1rem;


}

.blog-post h2 {
  line-height: calc(3rem - .3rem);
  font-size: 3rem;
  font-weight: 700;
}

.blog-post h3 {
  line-height: calc(3rem - .3rem);
  font-size: 3rem;
  font-weight: 100;
}

.blog-post a {
  --border-height: .3rem;

  color: var(--main-color-lighter);
  position: relative;

  transition: all .2s ease .1s;
  border-bottom: var(--border-height) solid transparent;
}

.blog-post a:hover {
  border-bottom: var(--border-height) solid var(--main-color-lighter);
}

.blog-post .highlight {
  margin-bottom: 2rem;
  overflow: hidden;
}

.blog-post .highlight pre{
  
}