/* |- footer section */
.footer {
  font-size: 1.6rem;
  background: hsl(0, 0%, 10%);
  color: white;
  padding: 4rem;
  
}

.footer .note {
  text-align: center;
  gap: 1rem;

}

.footer .copyright {
  white-space: nowrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer .social div {
  display: flex;
  align-items:center;
  justify-content: center;    
  
}

.footer .social div svg {
  --size: 6rem;

  width: var(--size);
  height: var(--size);
  fill: white;
}