  :root {
    --text-size: 1.6rem;
    --text-weight: 600;
    --text-color: white;

    --main-color: hsl(271deg 100% 36%);
    --main-color-lighter: hsl(271, 100%, 58%);
  }

/* || General Styles */

  * {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 10px;
    font-family: "Roboto Slab", sans-serif;
  }

  body *{
    font-family: inherit;

  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  li {
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }


  body {
  }

  .page {
  }

  .home-page {
    height: 100vh;
    overflow: scroll;
    /*scroll-snap-type: y mandatory;*/
  }


  .section {
    scroll-snap-align: start;
  }

  .link {
    --border-height: .3rem;

    color: var(--main-color-lighter);

    transition: all .2s ease .1s;
    border-bottom: var(--border-height) solid transparent;
  }

  .link:hover {
    border-bottom: var(--border-height) solid var(--main-color-lighter);
  }

/* || NAVBAR */

  .navbar {
    display: flex;
    font-size: 1.6rem;
    padding: 2rem 2rem;
    /*position: sticky;
    top: 0;*/

    align-items: flex-start;    
  }

  .navbar .logo {
    flex: 1;

    font-size: 2.5rem;
    font-weight: 700;

    padding-left: 1rem;

    filter: drop-shadow(4px 4px hsla(0, 0%, 20%, 0.5));
  }

  .navbar .links {
    flex: 0 0;

    display: flex;
    gap: 1rem;

    font-size: calc(var(--text-size) * 1.5);

    align-self: center;
  }

  .navbar .open-mobil-navbar img {
    display: none;
    width: 3rem;
    margin-bottom: auto;
  }

  @media (max-width: 500px) {
    .navbar .links {
      display: none;
    }

    .navbar .menu {
      display: block;
    }

    .navbar .open-mobil-navbar img {
      display: block;
    }
  }
  /* --- mobil navbar --- */

  .mobil-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 999999;


    width: 100vw;
    height: 100vh;
    background: rgb(95,0,184);
    background: linear-gradient(156deg, rgba(95,0,184,1) 0%, rgba(174,0,198,1) 100%);

    text-align: center;
    font-size: calc(var(--text-size) * 2);
    font-weight: var(--text-weight);
    color: var(--text-color);
    
  }

  .mobil-navbar .close-button {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .mobil-navbar .close-button img {
    width: 3rem;
    margin: 2rem;
  }

  .mobil-navbar .content {
    margin-bottom: 20%;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobil-navbar .logo {
    filter: drop-shadow(4px 4px hsla(0, 0%, 20%, 0.5));
    font-size: calc(var(--text-size) * 2);
    margin-bottom: 2rem;
  }

  /* --- for animation purpose --- */

  .mobil-navbar {
    right:  -100vw;
    opacity: 0;
    transition: all .1s ease;
  }

  .mobil-navbar.visible {
    right: 0;
    opacity: 1;
}

/* || HOME */

    .first-section {
      display: flex;
      flex-direction: column;

      height: 100vh;
      background: rgb(95,0,184);
      background: 
        linear-gradient(
          -45deg, 
          blue, 
          hsl(288deg 100% 36%), 
          hsl(-31 100% 39%), 
          red
        );
      background-size: 400% 400%;

      color: white;

      animation: bg-anime 4s cubic-bezier(0.9, 0.08, 0.13, 0.91) infinite alternate;
    }

    @keyframes bg-anime {
      from { background-position: 0% 50%;   }
      to   { background-position: 100% 50%; }
    }

    .greeting {

      align-self: center;

      flex: 1;
      margin: 4rem;
      font-size: var(--text-size);
      font-weight: var(--text-weight);

      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;

      position: relative;
      top: -2rem;
    }

    .greeting .title {
      font-size: 4rem;
      font-weight: 700;
      font-family: Bree Serif, sans-serif;
      margin-bottom: 1rem;

      filter: drop-shadow(4px 4px hsla(0, 0%, 20%, 0.5));
    }

    .greeting .message {
      margin-bottom: 1rem;
      color: hsla(0, 0%, 100%, .8); 
    }

    .greeting .action-link { 
      border-bottom: .3rem solid white;
    }

    /* for animation purpose */
    .greeting {
      position: relative;
      top: 30px;
      opacity: 0;      
    }

    .greeting.visible {
      transition: all .1s ease .1s;
      animation: aper 500ms forwards 200ms;
    }

    /* media queries */
    @media (min-width: 740px) {
      .greeting {
        width: 60%;
      }

      .greeting .title {
        font-size: 10rem;
      }

      .greeting p {
        font-size: 2.5rem;
      }
    }

  /* --------- blog-section -------------- */

    .blog-section {
      padding: 3rem 1.5rem;
    }

    .blog-section > .title {
      font-family: "Bree Serif", sans-serif;
      text-align: center;
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 1rem;

      margin-bottom: 2rem;

      /*filter: drop-shadow(3px 3px hsla(0, 0%, 0%, .5));*/
    }

    .blog-section .blog-post-items {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      margin-bottom: 3rem;

      overflow: scroll;
      padding: 1.5rem;

      font-size: var(--text-size);
      font-weight: var(--text-weight);

    }

    .blog-post-items .item {

      flex: 1 0 200px;
      
      padding: 1rem;
      min-height: 16rem;

      border-radius: 5px;
      border: 1px solid var(--main-color);
      border-top: 5px solid var(--main-color);

      transition: all .2s ease;

      box-shadow: 3px 3px gray;
    }

    .blog-post-items .item:hover {
      transform-origin: center center;
      transform: scale(1.03);
    }

    .blog-post-items .item .content a.link {
      --border-height: .3rem;

      color: var(--main-color-lighter);
      position: relative;

      transition: all .2s ease .1s;
      border-bottom: var(--border-height) solid transparent;
    }

    .blog-post-items .item:hover .content a {
      border-bottom: var(--border-height) solid var(--main-color-lighter);
    }

    .blog-post-items .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .blog-post-items .item .title {
      margin-bottom: 2rem;

      font-family: "Bree Serif", sans-serif;
      font-size: 2.5rem;
      font-weight: 400;

      line-height: 2.2rem;
    }

    .blog-post-items .item .date {
      font-size: 1.8rem;
      margin-bottom: .5rem;
    }

    .blog-post-items .item .right .tags {
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;
    }

    .blog-post-items .item .right .tags .tag{
      padding: .5rem;
      border-radius: 4px;

      text-transform: uppercase;
      color: white;
      font-weight: 300;

      background: var(--main-color);
    }

    .blog-section > .action {
      margin: 0 2rem;
      text-align: right;
    }

    .blog-section > .action a {
      --border-height: .3rem;

      color: var(--main-color-lighter);
      position: relative;

      transition: all .2s ease .1s;
      border-bottom: var(--border-height) solid transparent;

      font-size: 2.5rem;
    }

    .blog-section > .action a:hover {
      border-bottom: var(--border-height) solid var(--main-color-lighter);
    }

    /* For ANIMATION purpose */

    .blog-post-items .item,
    .blog-section > .title,
    .blog-section > .action {
      position: relative;
      top: 30px;
      opacity: 0;      
    }

    .blog-section.visible .blog-post-items .item:nth-child(1) {
      animation: aper 500ms forwards;
      animation-delay: 200ms;
    }
    .blog-section.visible .blog-post-items .item:nth-child(2) {
      animation: aper 500ms forwards;
      animation-delay: 300ms;
    }
    .blog-section.visible .blog-post-items .item:nth-child(3) {
      animation: aper 500ms forwards;
      animation-delay: 400ms;
    }

    .blog-section.visible > .title {
      animation: aper 500ms forwards;
    }

    .blog-section.visible > .action {
      animation: aper 100ms forwards;
    }

    @keyframes aper {
      to {
        top: 0px;
        opacity: 1;
      }
    }


  /* |- footer section */
  .footer {
    font-size: 1.6rem;
    background: hsl(0, 0%, 10%);
    color: white;
    padding: 4rem;
    
  }

  .footer .note {
    text-align: center;
    gap: 1rem;

  }

  .footer .copyright {
    white-space: nowrap;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .footer .social div {
    display: flex;
    align-items:center;
    justify-content: center;    
    
  }

  .footer .social div svg {
    --size: 6rem;

    width: var(--size);
    height: var(--size);
    fill: white;
  }


/* || UTIL */
  
  .u-fullvh {
    height: 100vh;
  }