<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Douglas jc - {{ title }}</title>


	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <header>
        <h4>!Este sitio está en construcción!... pero igual puedes pasar y ver :D</h4>
        <h1>Douglas JC</h1>
    </header>
    <nav>
        <ul>
            {% for p in collections.forMainNav %}
                <li>
                    {% if page.url !== p.url %}
                        <a href="{{ p.url }}">{{ p.data.title }}</a>
                    {% else %}
                        {{ p.data.title }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
    <main>
        {{ content | safe }}
    </main>
    <footer></footer>
</body>
</html>