:root {
  --text-size: 1.6rem;
  --text-weight: 600;
  --text-color: white;

  --main-color: hsl(271deg 100% 36%);
  --main-color-lighter: hsl(271, 100%, 58%);
}

/* || General Styles */

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto Slab", sans-serif;
}

body *{
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}



/* i want to move this to somewhere else
  for now, i leave it as is
 */
.link {
  --border-height: .3rem;

  color: var(--main-color-lighter);

  transition: all .2s ease .1s;
  border-bottom: var(--border-height) solid transparent;
}