/* || NAVBAR */

.navbar {
  display: flex;
  font-size: 1.6rem;
  padding: 2rem 2rem;
  /*position: sticky;
  top: 0;*/

  align-items: flex-start;    

  color: white;
}

.navbar .logo {
  flex: 1;

  font-size: 2.5rem;
  font-weight: 700;

  padding-left: 1rem;

  filter: drop-shadow(4px 4px hsla(0, 0%, 20%, 0.5));
}

.navbar .links {
  flex: 0 0;

  display: flex;
  gap: 1rem;

  font-size: calc(var(--text-size) * 1.5);

  align-self: center;
}

.navbar .open-mobil-navbar img {
  display: none;
  width: 3rem;
  margin-bottom: auto;
}

@media (max-width: 500px) {
  .navbar .links {
    display: none;
  }

  .navbar .menu {
    display: block;
  }

  .navbar .open-mobil-navbar img {
    display: block;
  }
}
/* --- mobil navbar --- */

.mobil-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 999999;


  width: 100vw;
  height: 100vh;
  background: rgb(95,0,184);
  background: linear-gradient(156deg, rgba(95,0,184,1) 0%, rgba(174,0,198,1) 100%);

  text-align: center;
  font-size: calc(var(--text-size) * 2);
  font-weight: var(--text-weight);
  color: var(--text-color);
  
}

.mobil-navbar .close-button {
  width: 100%;
  display: flex;
  justify-content: end;
}

.mobil-navbar .close-button img {
  width: 3rem;
  margin: 2rem;
}

.mobil-navbar .content {
  margin-bottom: 20%;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobil-navbar .logo {
  filter: drop-shadow(4px 4px hsla(0, 0%, 20%, 0.5));
  font-size: calc(var(--text-size) * 2);
  margin-bottom: 2rem;
}

/* --- for animation purpose --- */

.mobil-navbar {
  right:  -100vw;
  opacity: 0;
  transition: all .1s ease;
}

.mobil-navbar.visible {
  right: 0;
  opacity: 1;
}