<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree Serif|Roboto Slab">


  {{ $styles := resources.Get "styles.css" | resources.Fingerprint }}
  <link rel="stylesheet" type="text/css" href="{{ $styles.Permalink }}">
  

</head>
<body>
  <div class="home-page">

    <div class="mobil-navbar">
      <div class="close-button">
        <img src="x2.svg"/>
      </div>
      <div class="content">
        <a class="logo">{{ .Site.Title }}</a>
        <ul class="links">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>

    <div class="first-section section">
      <div class="navbar">
        <h1 class="logo">{{ .Site.Title }}</h1>
        <ul class="links">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <div class="open-mobil-navbar">
          <img src="menu.svg">
        </div>
      </div>

      <div class="greeting visible">
        <h1 class="title">{{ .Params.Greeting }}</h1>
        <p class="message">{{ .Params.Presentation }}</p>
      </div>
    </div>
    
    <div id="blog-section" class="blog-section section">

      <h1 class="title">Lates articles</h1>
      <div class="blog-post-items">
        {{ range .Site.Sections }}
          {{ if eq .Title "Blog" }}
            {{ range first 3 .Pages.ByDate.Reverse }}
              {{ if eq .Draft false }}
                <div class="item" href="{{ .Permalink }}">
                  <div class="content">
                    <div>
                      <div class="date">{{ .Date.Format "2006-01-02" }}</div>  
                      <h1 class="title">{{ .Title }}</h1> 
                    </div>
                    <div><a href="{{ .Permalink }}">Read Article</a></div>
                  </div>
                </div>
                <!-- end of item -->
              {{ end }}
            {{ end }}
          {{ end}}
        {{ end }}
      </div>

      <div class="action">
        <a href="/blog">Read More Articles in my Blog</a>
      </div>
    </div>

    <div class="footer section">
      
      <div>
        <h1>About Me</h1>
      </div>

      <nav>
        <ul class="links">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>

      <div class="contact">
        <ul>
          <li>github</li>
          <li>gmail</li>
          <li>linkedin</li>
        </ul>
      </div>

      <div>
        <p>{{ .Site.Copyright }}</p>
        <p>{{ .Site.Params.Footnotes }}</p>
      </div>

    </div>

  </div>
    
</body>
<script type="text/javascript">

  const mobilNavbar = document.querySelector('.mobil-navbar')
  const menuOpenButton = document.querySelector('.open-mobil-navbar')
  const menuCloseButton = document.querySelector('.mobil-navbar .close-button')

  const page = document.querySelector('.home-page')
  const firstSection = document.querySelector('.first-section')
  const blogSection = document.querySelector('#blog-section')
  
  function addVisibleClass(el) {
    let className = el.getAttribute('class').split(' ')

    if (!className.includes('visible')) {
      const newClassName = [...className, 'visible'].join(' ')
      console.log('set visible')
      console.log({newClassName})
      el.setAttribute('class', newClassName)  
    }
  }

  function removeVisibleClass(el) {
    const className = el.getAttribute('class').split(' ')    
    const newClassName = className.filter( c => c !== 'visible').join(' ')
    el.setAttribute('class', newClassName)  
  }

  page.addEventListener('scroll', (evt) => {
    const wh = window.innerHeight

    const blogSectionY = blogSection.getBoundingClientRect().y
    const y = (wh - 200)
    console.log({blogSectionY, y})
    if (blogSectionY < y) {
      
      addVisibleClass(blogSection)
    }
  })

  menuOpenButton.addEventListener('click', evt => {
    console.log('open menu')
    addVisibleClass(mobilNavbar)
  })

  menuCloseButton.addEventListener('click', evt => {
    console.log('close menu')
    removeVisibleClass(mobilNavbar)
  })
</script>
</html>