:root {
    --main-font:  "Perpetua", "Helvetica", "Rockwell";
    --sec-font:  "Segoe UI";;
}

* {
  margin:  0;
  padding:  0;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family:  var(--main-font);
}

body {
  
}

.warning {
  text-align: center;
  color: #333333;

  padding: .3rem;
  background: yellow;
  border: 3px dashed #333333;

  /* display: none; */
}

#header {
  margin: 1rem;

  display: flex;

  flex-flow: column wrap;
  align-items: space-around;
}

#header .logo {
  padding-left: 2rem;
  align-self: center;
}

#header #nav-menu {
  flex-wrap: wrap;
}

#nav-menu ul {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

#nav-menu ul li {
  list-style: none;
}

#homepage {

}

#footer {

}