:root {
    --main-font:  "Calibri", "Perpetua", "Helvetica", "Rockwell";
    --sec-font:  "Segoe UI";;
}

* {
  margin:  0;
  padding:  0;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family:  var(--main-font);
}

body {
  background: #f0f0f0;  
}

.warning {
  text-align: center;
  color: #333333;

  padding: .3rem;
  background: yellow;
  border: 3px dashed #333333;

  display: flex;

  align-items: center;
  text-align: center;

  /* display: none; */
}

.warning h4 {
  padding-left: 1rem;
}

main {

}

#header {
  padding-top: 1rem;

  display: flex;

  flex-flow: column wrap;
}

#header .logo {
  align-self: center;


}

#nav-menu {
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

#nav-menu ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

}

#nav-menu ul li {
  text-align: center;

  margin: .2rem;

  display: inline-block;
  flex: 1 auto;
  list-style: none;
}

a:link{
  color: black; 
  text-decoration: none;
}

a:visited{
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;

  margin-bottom: 1rem;
}

h1 + h2 {
  margin-top: -.5rem;
  color: #777777;
}

h3 {
  margin-bottom: .5rem;
}

#homepage h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

#gretting {
  padding: 2rem;
}

#contact-home-section {

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

#footer {

}

article {
  padding: 1rem 0;
  border-bottom: 2px solid #666666;
}

/*--------------sub styles --------------------*/

.header-with-icons {
  padding-bottom: 1rem;
  display: flex;
}

.header-with-icons h2 {
  flex: 2;
  justify-self: end;
}

.header-with-icons div{
  flex: 1;
  display: flex;
}

.header-with-icons a{
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 320px) {

}

/*--------------some usefull styles------------*/
.container {
  padding: 2rem;
  padding-top: 1rem;
}

p {
  margin-bottom: 1rem;
  text-align: justify;
}

.t-indent {
  text-indent: 1rem;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}