:root {
    --main-font:  "Calibri", "Perpetua", "Helvetica", "Rockwell";
    --sec-font:  "Segoe UI";;
}

* {
  margin:  0;
  padding:  0;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family:  var(--main-font);
}

body {
  
}

.warning {
  text-align: center;
  color: #333333;

  padding: .3rem;
  background: yellow;
  border: 3px dashed #333333;

  /* display: none; */
}

main {
  margin:  1rem;
}

#header {
  margin: 1rem;

  display: flex;

  flex-flow: column wrap;
  align-items: space-around;
}

#header .logo {
  padding-left: 2rem;
  align-self: center;
}

#header #nav-menu {
  flex-wrap: wrap;
}

#nav-menu ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  margin-top: 1rem;
}

#nav-menu ul li {
  text-align: center;

  margin: .2rem;

  display: inline-block;
  flex: 1 auto;
  list-style: none;
}

#nav-menu ul li a:link{
  text-decoration: none;
}

#nav-menu ul li a:visited{
  text-decoration: none;
}

#homepage h1{
  font-size: 2rem;
  line-height: 2rem;

  margin-bottom: 1rem;
}

#homepage h2{
  font-size: 1rem;
  margin-bottom: 1rem;
}

#footer {

}