---
title: Sobre mí
order: 70

layout: main

tags:
 - mainNav

---

<h1> {{ title }} </h1>

  <p>Me llamo Douglas Socorro, vivo en Venezuela y actualmente estoy cursando la carrera de ing. de sistemas; amo la programación y el desarrollo de software en general, pero mi área favorita es el desarrollo web back end, me gusta mucho la recolección, procesamiento y manejo de datos.</p>

  <p>Hace dos años inicié en el desarrollo web con Node.js y javascript (unos dos años antes había empezado con el desarrollo front end), mis inicios fueron algo lentos debido a mis limitaciones tanto personales como técnicas, pero posteriormente fui adquiriendo más destreza.</p>

  <p>Hoy en día tengo experiencia desarrollando aplicaciones que funcionan del lado del servidor (link a los proyectos creados) y operan con bases de datos tanto SQL como NoSQL (MongoDB, SQLite, Reddis), ofresen y se comunican con APIs de terceros tanto REST como GraphQL (Pinterest, Youtube, Google Maps, entre otras).</p>

  <p>Actualmente estoy experimentando en el desarrollo web con Java y Kotling, debido a sus ventajas en lo que respecta a tipado de datos, y su velocidad al ser compilado.</p>

  <p>Me gustaría trabajar en el desarrollar y mantenimiento de características de una aplicación del lado del servidor.</p>