---

layout: main.njk

title: Contacto

phone: +58 412-061-45-00
email: douglassocorro.work@gmail.com
github: https://github.com/Douglas571

order: 80

tags:
 - mainNav
	
---

<h1>Datos de {{ title }}</h1>

<section>
		<h3>Teléfono: {{ phone }} </h3>

		<h3>E-mail: {{ email }} </h3>

		<h3>Github: <a href="{{ github }}">{{ github }}</a> </h3>

</section>