---

layout: main.njk

title: Contacto

phone: +58 412-061-45-00
email: douglassocorro.work@gmail.com
github: https://github.com/Douglas571

order: 80

tags:
 - mainNav
	
---

<div class="container">
	
	<h1>Datos de {{ title }}</h1>

	<section>
			<p>
	            <b>Teléfono: </b> {{ phone }}</br>
	            <b>E-mail: </b> {{ email }}</br>
	            <a href="{{ github }}">
	            	<img 
	                    height="32" 
	                    width="32" 
	                    src="{{ icons.github }}"
	                    alt="Ver en github"
	                />
	            </a>
	        </p>
	</section>
</div>