---

title: Inicio
order: 10    

tags:
- mainNav

layout: main.njk
---

<section id="homepage">
	<h1>Hola, me llamo Douglas Socorro, futuro Ing. de Sistemas</h1>

	<h2>Me gusta el diseño y programación de software en general, pero me especializo en el desarrollo de aplicaciones del lado del servidor(Backend)</h2>

	<h3>Necesitas mi ayuda en algun proyecto?</h3>
	<a href="contact">Contactame</a>
</section>