---

title: Inicio
order: 10    

tags:
- mainNav

layout: main.njk
---

<section id="homepage">
	
	<h1>Me llamo Douglas Socorro, y estudio para ser Ing. de Sistemas</h1>

	<h2>Me gusta el diseño y programación de software en general, pero mi area favorita es el desarrollo de aplicaciones del lado del servidor(Backend)</h2>

	<h3>Necesitas mi ayuda en algun proyecto?</h3>
	<a href="contact">Contactame</a>
</section>