---
title: Proyectos
order: 30

layout: main

tags:
 - mainNav
---

<div class="container">
    <h1>{{ title }}</h1>

    <section>
        {% for oneProject in projects %}   
            <article>
                <header class="header-with-icons">
                    <h2>{{ oneProject.name }}</h2>
                    <a href="{{ oneProject.github }}">
                        <img 
                            height="32" 
                            width="32" 
                            src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/github.svg"
                            alt="Ver en github">
                    </a>
                </header>
                <p>
                    <b>Descripción: </b> {{ oneProject.description }}</br>
                    <b>Prósito: </b> {{ oneProject.purpose }}</br>
                </p>
            </article>
        {% endfor %}
    </section>
</div>