---
title: Proyectos
order: 30

layout: main

tags:
 - mainNav
---

<div class="container">
    <h1>{{ title }}</h1>

    <section>
        {% for oneProject in projects %}   
            <article>
                <header class="header-with-icons">
                    <h2>{{ oneProject.name }}</h2>
                    <div class="">Ver en <a href="{{ oneProject.github }}">github</a></div>
                </header>
                <p>
                    <b>Descripción: </b> {{ oneProject.description }}</br>
                    <b>Prósito: </b> {{ oneProject.purpose }}</br>
                </p>
            </article>
        {% endfor %}
    </section>
</div>