<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree Serif|Roboto Slab">

  {{ $reset_styles := resources.Get "reset.css" | resources.Fingerprint }}
  <link rel="stylesheet" type="text/css" href="{{ $reset_styles.Permalink }}">

  {{ $basic_styles := resources.Get "basic.css" | resources.Fingerprint }}
  <link rel="stylesheet" type="text/css" href="{{ $basic_styles.Permalink }}">

  {{ $navbar_styles := resources.Get "navbar.css" | resources.Fingerprint }}
  <link rel="stylesheet" type="text/css" href="{{ $navbar_styles.Permalink}}">

  {{ $footer_styles := resources.Get "footer.css" | resources.Fingerprint }}
  <link rel="stylesheet" type="text/css" href="{{ $footer_styles.Permalink}}">

  {{ $blog_index_styles := resources.Get "blog-index.css" | resources.Fingerprint }}
  <link rel="stylesheet" type="text/css" href="{{ $blog_index_styles.Permalink}}">

  <title>
    Blog - Douglas Socorro
  </title>

</head>
<body>
  <main>
    
    <!-- header -->
    <header id="header">
      
      {{ partial "nav.html" . }}
      
    </header>

    <!-- hero -->
    
    <section id="hero">
      {{ range first 1 .Pages }}
        <div>
          <a href="{{ .Permalink }}">
            <h4 class="date">{{ .Date.Format "on Monday, 2 January 2006" }}</h4>
            <h2 class="title">
              {{ .Title }}
            </h2>
          </a>

          <ul class="tags">
            <li class="item">
              #Category
            </li>
            <li class="item">
              #Category
            </li>
            <li class="item">
              #Category
            </li>
          </ul>
        </div>
      {{ end }}
      
    </section>

    <!-- articles -->
    
    <section id="articles-section">
      <div class="header">
        <h2 class="title">
          Latests Posts
        </h2>
      </div>

      <div>
        {{ range .Pages }}
          {{ if eq .Draft false }}
            <a href="{{ .Permalink }}">
              <article class="article-card item">

                <h4 class="date">{{ .Date.Format "on Monday, 2 January 2006" }}</h4>
                <!-- <h4>on Wendsday, 15 February 2023</h4> -->
                <h1 class="title">{{ .Title }}</h1>
                <!-- <ul>
                  <li>
                    #Category
                  </li>
                  <li>
                    #Category
                  </li>
                  <li>
                    #Category
                  </li>
                </ul> -->
              </article>    
            </a>
          {{ end }}
        {{ end }}
      </div>
    </section>

    <!-- footer -->
    {{ partial "footer.html" . }}

  </main>
  {{ partial "scripts.html" . }}
</body>
</html>